<div [formGroup]="form">
  <label for="password">Пароль</label>
  <input id="password" type="password" [formControl]="form.controls['password']" formControlName="password" class="form-control">
  <p *ngIf="form.controls['password'].hasError('required') && isPasswordDirty" class="mt-2">
    <ngb-alert [dismissible]="false">
      Поле обязательно для заполнения!
    </ngb-alert>
  </p>
  <p *ngIf="form.controls['password'].hasError('minlength') && isPasswordDirty" class="mt-2">
    <ngb-alert [dismissible]="false">
      Пароль должен иметь минимум 8 символов!
    </ngb-alert>
  </p>
  <p *ngIf="form.controls['password'].hasError('pattern') && isPasswordDirty" class="mt-2">
    <ngb-alert [dismissible]="false">
      Пароль должен содержать цифру, букву в верхнем и нижнем регистре!
    </ngb-alert>
  </p>
</div>