<h2 class="text-center">Забыли пароль?</h2>
<form [formGroup]="remindPassForm" (ngSubmit)="sendUserEmail()">
  <app-email [form]="remindPassForm" [isEmailDirty]="remindPassState.isEmailDirty"></app-email>
  <button class="btn btn-primary mt-3" type="submit" [disabled]="!remindPassState.isValid">Отправить ссылку для восстановления</button>
</form>
<div class="links d-flex justify-content-between mt-5">
  <p><a title="Регистрация" class="text-decoration-none" [routerLink]="['/sign-up']" routerLinkActive="active">Зарегистрироваться</a></p>
  <p><a title="Войти" class="text-decoration-none" [routerLink]="['/']" routerLinkActive="active">Войти</a></p>
</div>
