<div class="d-flex justify-content-between p-3">
  <p>Клиентов в очереди: {{ pendingConversations.length }}</p>
  <div class="d-flex">
    <button class="btn btn-primary mr-3" (click)="createConversation()">
      Создать диалог
      <img src="./../../../../assets/img/new-convers.png" width="24" height="24" />
    </button>
    <div class="d-flex">
      <label for="search" class="mr-3">Поиск:</label>
      <input
        id="search"
        [(ngModel)]="term"
        name="search"
        type="text"
        class="form-control mr-5"
        autocomplete="off"
        placeholder="Введите ID диалога или ID клиента"
      />
    </div>
  </div>
</div>
<div class="m-2 p-3 h-100">
  <div class="list-group conversation-container list-group-flush mt-3 h-100">
    <li *ngFor="let conversation of pendingConversations | filter: term | keyvalue; index as i" class="list-group-item">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
          <img src="./../../../../assets/img/user.png" width="64" height="64" />
          <p class="text-center">Клиент {{ i + 1 }}</p>
        </div>
        <div class="d-flex align-items-center">
          <button class="btn btn-primary" (click)="enterToConversation(conversation.value.id)">
            Войти в диалог
            <img src="./../../../../assets/img/enter.png" width="24" height="24" />
          </button>
        </div>
      </div>
    </li>
  </div>
</div>
