<div class="d-flex justify-content-end">
  <div class="d-flex">
    <label for="search" class="mr-3">Поиск:</label>
    <input
      id="search"
      [(ngModel)]="term"
      name="search"
      type="text"
      class="form-control mr-5"
      autocomplete="off"
      placeholder="Введите ID диалога или ID клиента"
    />
  </div>
</div>
<div class="h-100 m-2 p-3">
  <div class="h-100 conversation-container list-group list-group-flush mt-3">
    <li *ngFor="let conversation of savedConversations | keyvalue | filter: term" class="list-group-item">
      <div class="d-flex justify-content-between p-2">
        <div class="d-flex flex-column">
          <img src="./../../../../assets/img/user.png" width="64" height="64" class="ml-4" />
          <p class="text-center client-name">Клиент</p>
          <button class="btn btn-primary" (click)="this.enterToConversation(conversation.value.id)">
            Просмотреть
          </button>
        </div>
        <div class="d-flex flex-column justify-content-between">
          <p class="last-active">
            Последнее обновление:
            {{
              moment(conversation.value.updatedAt)
                .locale('ru')
                .fromNow()
            }}
          </p>
          <!-- <div class="d-flex justify-content-end">
            <button class="btn btn-success">
              Оценить
              <img src="./../../../../assets/img/star.png" width="24" height="24">
            </button>
          </div> -->
          <div class="d-flex justify-content-end">
            <button class="btn btn-warning" (click)="deleteConversation(conversation.value.id)">
              Удалить
              <img src="./../../../../assets/img/delete.png" width="24" height="24" />
            </button>
          </div>
        </div>
      </div>
    </li>
  </div>
</div>
