<h2 class="text-center">Регистрация</h2>
<p>
  <ngb-alert *ngIf="authState.errorMessage" [type]="'danger'" [dismissible]="false">
    {{ authState.errorMessage }}
  </ngb-alert>
</p>
<form [formGroup]="signUpForm" (ngSubmit)="signUpToApp()">
  <app-email [form]="signUpForm" [isEmailDirty]="signUpState.isEmailDirty"></app-email>
  <app-password [form]="signUpForm" [isPasswordDirty]="signUpState.isPasswordDirty"></app-password>
  <app-confirm-password [form]="signUpForm" [isConfirmPasswordDirty]="signUpState.isConfirmPasswordDirty"></app-confirm-password>
  <button class="btn btn-primary mt-3" placement="bottom" ngbTooltip="Зарегистрироваться" type="submit" [disabled]="!signUpState.isValid">Зарегистрироваться</button>
</form>
<div class="links d-flex justify-content-end mt-5">
    <p><a title="Войти" [routerLink]="['/']" routerLinkActive="active">Войти</a></p>
</div>
