<div [formGroup]="form">
  <label for="newPassword">Новый пароль</label>
  <input id="newPassword" type="password" [formControl]="form.controls['newPassword']" formControlName="newPassword" class="form-control">
  <p *ngIf="form.controls['newPassword'].hasError('required') && isNewPasswordDirty" class="mt-2">
    <ngb-alert [dismissible]="false">
      Поле обязательно для заполнения!
    </ngb-alert>
  </p>
  <p *ngIf="form.controls['newPassword'].hasError('minlength') && isNewPasswordDirty" class="mt-2">
    <ngb-alert [dismissible]="false">
      Пароль должен иметь минимум 8 символов!
    </ngb-alert>
  </p>
  <p *ngIf="form.controls['newPassword'].hasError('pattern') && isNewPasswordDirty" class="mt-2">
    <ngb-alert [dismissible]="false">
      Пароль должен содержать цифру, букву в верхнем и нижнем регистре!
    </ngb-alert>
  </p>
</div>
