<app-top-nav-bar></app-top-nav-bar>
<div class="d-flex active-container">
  <app-conversations-menu class="menu"></app-conversations-menu>
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary mb-3" id="go-to-back" [routerLink]="['/main']" routerLinkActive="active">Назад</button>
  </div>
  <app-active-list-conversations class="active-list cont"></app-active-list-conversations>
</div>