.cont
  height: 59vh

.menu
  width: 25%

.messages-list
  width: 75%

#go-to-back
  display: none

@media (max-width: 990px)
  .messages-container
    flex-direction: column
  .menu
    width: 100%
    display: none
  .messages-list
    width: 100%
  #go-to-back
    display: inline