<app-top-nav-bar></app-top-nav-bar>
<div class="d-flex messages-container">
  <app-conversations-menu class="menu"></app-conversations-menu>
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary" id="go-to-back" [routerLink]="['/main']" routerLinkActive="active">Назад</button>
  </div>
  <app-messages class="messages-list cont"></app-messages>
</div>
