<h2 class="text-center">Авторизация</h2>
<div class="social">
  <!-- <app-google-login></app-google-login> -->
</div>
<ngb-alert *ngIf="authState.errorMessage" [type]="'danger'" [dismissible]="false">
  {{ authState.errorMessage }}
</ngb-alert>
<form [formGroup]="logInForm" (ngSubmit)="logInToApp()">
  <app-email [form]="logInForm" [isEmailDirty]="logInState.isEmailDirty"></app-email>
  <app-password [form]="logInForm" [isPasswordDirty]="logInState.isPasswordDirty"></app-password>
  <button class="btn btn-primary mt-3" placement="bottom" ngbTooltip="Войти" type="submit" [disabled]="!logInState.isValid">Войти</button>
</form>
<div class="links d-flex justify-content-between mt-5">
  <p><a title="Регистрация" class="text-decoration-none" [routerLink]="['/sign-up']" routerLinkActive="active">Зарегистрироваться</a></p>
  <p><a title="Восстановить пароль" class="text-decoration-none" [routerLink]="['/remind-password']" routerLinkActive="active">Забыли пароль?</a></p>
</div>
