.message-container
  overflow-y: scroll

.star
  font-size: 2.5rem
  color: #b0c4de

.filled
  color: gold

@media (max-width: 990px)
  input
    width: 150px
  select
    width: 150px
  .answer-form
    display: flex
    flex-direction: column
  .buttons
    flex-direction: column
    justify-content: start
  .emoji
    display: none
