<div class="d-flex justify-content-between">
  <h5 class="p-3 ml-3">Диалог с клиентом</h5>
  <div class="d-flex">
    <label for="search" class="mr-3">Поиск:</label>
    <input
      id="search"
      [(ngModel)]="term"
      name="search"
      type="text"
      class="form-control mr-5"
      autocomplete="off"
      placeholder="Введите текст сообщения"
    />
  </div>
</div>
<div class="m-2 p-3 h-100">
  <div class="h-100 message-container">
    <div *ngFor="let message of messages | keyvalue | filter: term" class="list-group-item">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
          <p class="font-weight-bold">{{ message.value.authorId }}</p>
          <p>{{ message.value.body }}</p>
        </div>
        <p class="font-italic">
          {{
            moment(message.value.createdAt)
              .locale('ru')
              .calendar()
          }}
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.conversStatus === 'ACTIVE'" class="p-4 m-2">
  <p class="font-italic text-center">Клиент печатает...</p>

  <form [formGroup]="messageForm" (ngSubmit)="addMessage(this.conversId)" class="answer-form">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column">
        <label for="answer">Ввведите ответ:</label>
        <emoji-mart
          class="emoji-mart"
          set="emojione"
          (emojiSelect)="addEmoji($event)"
          *ngIf="showEmojiPicker"
          title="Pick your emoji…"
        ></emoji-mart>
        <div class="d-flex">
          <input
            type="text"
            class="form-control"
            id="answer"
            [formControl]="messageForm.controls['message']"
            formControlName="message"
            [ngbTypeahead]="search"
          />
          <button type="button" class="toggle-emoji btn btn-light emoji" (click)="toggleEmojiPicker()">
            <i-feather name="smile"></i-feather>
          </button>
        </div>
        <label for="pattern-answers"><b>Или</b> выберите из готовых:</label>
        <select
          class="form-control mb-3"
          id="pattern-answers"
          [formControl]="messageForm.controls['patternMessage']"
          formControlName="patternMessage"
        >
          <option selected value=""></option>
          <option value="{{ phrase.value }}" *ngFor="let phrase of phrases | keyvalue">{{ phrase.value }}</option>
        </select>
      </div>

      <div class="d-flex flex-column justify-content- w-50">
        <div class="d-flex justify-content-end buttons">
          <app-conversation-settings [phrases]="phrases"></app-conversation-settings>
          <button class="btn btn-danger mr-3" (click)="this.closeConversation(this.conversId)">Завершить</button>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Отправить</button>
  </form>
</div>

<div *ngIf="this.conversStatus === 'CLOSED' || this.conversStatus === 'SAVED'" class="d-flex flex-column">
  <div class="d-flex align-items-center justify-content-center">
    <div class="form-group">
      <ngb-rating [formControl]="rating" max="5" (click)=(this.ratingConversation())>
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill === 100">&#9733;</span>
        </ng-template>
      </ngb-rating>
      <div class="form-text small">
        <div *ngIf="rating.invalid" class="text-danger text-center">Пожалуйста, оцените диалог</div>
      </div>
    </div>
  </div>

  <div class="p-3 m-2 alert alert-info">
    <p class="text-center font-weight-bold">
      Диалог был завершен
      {{
        moment(this.conversUpdatedAt)
          .locale('ru')
          .fromNow()
      }}
    </p>
  </div>
</div>
