<div [formGroup]="form">
  <label for="confirmPassword">Подтверждение пароля</label>
  <input id="confirmPassword" type="password" [formControl]="form.controls['confirmPassword']" class="form-control" formControlName="confirmPassword">
  <p *ngIf="form.controls['confirmPassword'].hasError('required') && isConfirmPasswordDirty" class="mt-2">
    <ngb-alert [dismissible]="false">
      Поле обязательно для заполнения!
    </ngb-alert>
  </p>
  <p *ngIf="form.controls['confirmPassword'].hasError('minlength') && isConfirmPasswordDirty" class="mt-2">
    <ngb-alert [dismissible]="false">
      Пароль должен иметь минимум 8 символов!
    </ngb-alert>
  </p>
  <p *ngIf="form.controls['confirmPassword'].hasError('pattern')  && isConfirmPasswordDirty" class="mt-2">
    <ngb-alert [dismissible]="false">
      Пароль должен содержать цифру, букву в верхнем и нижнем регистре!
    </ngb-alert>
  </p>
  <p *ngIf="form.controls['confirmPassword'].hasError('mustMatch')  && isConfirmPasswordDirty" class="mt-2">
    <ngb-alert [dismissible]="false">
      Введенные пароли не совпадают!
    </ngb-alert>
  </p>
</div>
