<div [formGroup]="form">
  <label for="email">Email</label>
  <input name="email" id="email" type="text" [formControl]="form.controls['email']" class="form-control" formControlName="email">
  <p *ngIf="form.controls['email'].hasError('required') && isEmailDirty" class="mt-2">
    <ngb-alert [dismissible]="false">
      Поле обязательно для заполнения!
    </ngb-alert>
  </p>
  <p *ngIf="form.controls['email'].hasError('email') && isEmailDirty" class="mt-2">
    <ngb-alert [dismissible]="false">
      Необходимо ввести имейл!
    </ngb-alert>
  </p>
</div>
