<app-top-nav-bar></app-top-nav-bar>
<div class="pending-container d-flex">
  <app-conversations-menu class="menu"></app-conversations-menu>
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary mb-3" id="go-to-back" [routerLink]="['/main']" routerLinkActive="active">Назад</button>
  </div>
  <app-pending-list-conversations class="cont pending-list"></app-pending-list-conversations>
</div>
