.menu
  width: 25%

.pending-list
  width: 75%

#go-to-back
  display: none

@media (max-width: 990px)
  .pending-container
    flex-direction: column
  .menu
    width: 100%
    display: none
  .pending-list
    width: 100%
  #go-to-back
    display: block

.cont
  height: 87vh