<h2 class="text-center">Обновить пароль</h2>
<p>
  <ngb-alert *ngIf="authState.errorMessage" [type]="'danger'" [dismissible]="false">
    {{ authState.errorMessage }}
  </ngb-alert>
</p>
<form [formGroup]="updatePassForm" (ngSubmit)="updateUserPassword()">
  <app-password [form]="updatePassForm" [isPasswordDirty]="updatePassState.isPasswordDirty"></app-password>
  <app-new-password [form]="updatePassForm" [isNewPasswordDirty]="updatePassState.isNewPasswordDirty" ></app-new-password>
  <button class="btn btn-primary mt-3" type="submit" [disabled]="!updatePassState.isValid">Обновить</button>
</form>
<div class="links d-flex justify-content-between mt-5">
  <p><a title="Войти" class="text-decoration-none" [routerLink]="['/']" routerLinkActive="active">Войти</a></p>
  <p><a title="Регистрация" class="text-decoration-none" [routerLink]="['/sign-up']" routerLinkActive="active">Зарегистрироваться</a></p>
</div>
