<div class="d-flex justify-content-between p-3 m-2">
  <button class="btn btn-outline-primary mb-2 mr-2" (click)="openConfigurationProfileModal(content)"><b>{{ email }}</b></button>
  <button class="btn btn-danger" (click)=[logOut()]>Выйти</button>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Профиль</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="userForm">
      <div class="d-flex flex-column form-group">
        <label for="name">Имя:</label>
        <input type="text" class="form-control" name="name" id="name" [formControl]="userForm.controls['name']" formControlName="name"/>
        <div class="d-flex mt-2">
          <button class="btn btn-primary" (click)="changeName()">Сохранить</button>
        </div>
      </div>
    </form>
    <form>
      <div class="d-flex">
        <div class="d-flex flex-column">
          <p>Аватар:</p>
          <img src="../../../../assets/img/user.png" width="60" height="60">
        </div>
        <div class="custom-file ml-2">
          <label class="custom-file-label" for="customFile">Загрузить новый</label>
          <input type="file" class="custom-file-input" id="customFile">
        </div>
      </div>
    </form>
    <p class="mt-4"><a title="Обновление пароля" [routerLink]="['/update-password']" routerLinkActive="active" (click)="modal.close('Close click')">Обновить пароль</a></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Закрыть</button>
  </div>
</ng-template>