<div class="m-2">
  <ul class="list-group list-unstyled list-group-flush">
    <li class="list-group-item text-center">
      <a title="В ожидании" class="text-decoration-none" [routerLink]="['/pending-conversations']" routerLinkActive="active">
        <p class="font-weight-bold">В ожидании</p>
        <img src="../../../assets/img/pending.png">
      </a>
    </li>
    <li class="list-group-item text-center">
      <a title="Активные диалоги" class="text-decoration-none" [routerLink]="['/active-conversations']" routerLinkActive="active">
        <p class="font-weight-bold">Активные</p>
        <img src="../../../assets/img/active.png">
      </a>
    </li>
    <li class="list-group-item text-center">
      <a title="Завершенные диалоги" class="text-decoration-none" [routerLink]="['/ended-conversations']" routerLinkActive="active">
        <p class="font-weight-bold">Завершенные</p>
        <img src="../../../assets/img/ended.png">
      </a>
    </li>
    <li class="list-group-item text-center">
      <a title="Сохраненные диалоги" class="text-decoration-none" [routerLink]="['/saved-conversations']" routerLinkActive="active">
        <p class="font-weight-bold">Сохраненные</p>
        <img src="../../../assets/img/saved.png">
      </a>
    </li>
  </ul>
</div>
