<a class="btn btn-light mb-2 mr-2" (click)="openConversationSettings(content)">Настройки</a>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Настройки диалогов</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Готовые фразы:</p>
    <ul class="list-group" id="phrases-list">
      <li class="list-group-item d-flex justify-content-between" *ngFor="let phrase of phrases | keyvalue">
        <p>{{ phrase.value }}</p>
        <button class="btn btn-danger" (click)=(this.deletePhrase(phrase.value))>-</button>
      </li>
    </ul>
    <form [formGroup]="conversetionSettingsForm">
      <div class="d-flex flex-column">
        <label for="phrase">Новая фраза:</label>
        <input class="form-control" type="text" name="phrase" id="phrase" [formControl]="conversetionSettingsForm.controls['phrase']" formControlName="phrase">
        <div class="d-flex">
          <button class="btn btn-primary mt-2" (click)=(this.addNewPhrase()) [disabled]="!conversetionSettingsForm.valid">Добавить</button>
        </div>
      </div>
      <div class="d-flex flex-column">
        <label for="greeting">Автоматическое приветствие:</label>
        <input class="form-control" type="text" name="greeting" id="greeting" [formControl]="conversetionSettingsForm.controls['greeting']" formControlName="greeting">
        <div class="d-flex">
          <button class="btn btn-primary mt-2" (click)=(this.saveGreeting())>Сохранить</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Закрыть</button>
  </div>
</ng-template>
