<div class="d-flex justify-content-end">
  <div class="d-flex">
    <div class="d-flex">
      <label for="search" class="mr-3">Поиск:</label>
      <input
        id="search"
        [(ngModel)]="term"
        name="search"
        type="text"
        class="form-control mr-5"
        autocomplete="off"
        placeholder="Введите ID диалога или ID клиента"
      />
    </div>
  </div>
</div>
<div class="m-2 p-3 h-100">
  <div class="h-100 conversation-container list-group list-group-flush">
    <div *ngFor="let conversation of activeConversations | filter: term | keyvalue; index as i" class="list-group-item">
      <div class="d-flex justify-content-between p-2">
        <div class="d-flex flex-column">
          <img src="./../../../../assets/img/user.png" width="64" height="64" />
          <p class="text-center client-name">Клиент {{ i + 1 }}</p>
          <button class="btn btn-primary" (click)="enterToConversation(conversation.value.id)">
            Продолжить
          </button>
        </div>
        <div class="d-flex flex-column justify-content-between">
          <p class="last-active">
            Последнее обновление:
            {{
              moment(conversation.value.updatedAt)
                .locale('ru')
                .fromNow()
            }}
          </p>
          <div class="d-flex justify-content-end align-items-end">
            <button class="btn btn-success" (click)="saveConversation(conversation.value.id)">
              Сохранить
              <img src="./../../../../assets/img/save.png" width="24" height="24" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
